.like-stat{
  font-size: 11px;
  font-weight: bold;
  margin : 5px;
}

#likeReview{
  margin:auto;
  margin-right: 5px;
  margin-bottom: 8px;
  height: 18px;
  width: 18px;
}

#reviewDelete{
  margin-right: 8px;
}

#miniLike{
  height: 20px;
  width: 20px;
}
