#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.controls {
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}


#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

.creditsContainer{
  color: rgba(0,0,0,.9);

}

.creditsContainer a{
  color: #721c24;
  text-decoration: underline;

}
